{% extends "base-without-sidebar.html" %}

{% block content %}
    <div class="col-md-5 mx-auto p-5">
        <form action="{% url 'admin_signup' %}" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Register an Account</h2>
                    <hr/>
                </div>
                    <div class="panel-body">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}
                        <div class="mb-3">
                            <label for="{{ form.username.id_for_label }}" class="col-md-4 control-label text-right">Username</label>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password</label>
                        {{ form.password }}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">Confirm password:</label>
                            {{ form.password_repeat }}
                    </div>

                    <div class="mb-3">
                        <input type="submit" value="Register" class="btn btn-primary w-100 full">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}