{% extends "base.html" %}

{% block content %}

<div class="p-3">

       <div class="d-flex gap-3">
              <div class="card w-25 bg-primary text-light">
                     <div class="card-body">
                            <h5 class="card-title">{{total_user}}</h5>
                            <p class="card-text">Total Users</p>
                     </div>
              </div>
       
              <div class="card w-25 bg-gradient bg-primary text-light">
                     <div class="card-body">
                            <h5 class="card-title">{{total_invoices}}</h5>
                            <p class="card-text">Total Invoices</p>
                     </div>
              </div>
       
              <div class="card w-25 bg-primary text-light">
                     <div class="card-body">
                            <h5 class="card-title">{{total_cp_desk_invoices}}</h5>
                            <p class="card-text">Total Total_Cp_Desk_Invoices</p>
                     </div>
              </div>
       
              <div class="card w-25 bg-primary text-light">
                     <div class="card-body">
                            <h5 class="card-title">{{total_user_data}}</h5>
                            <p class="card-text">Total Email Configuration</p>
                     </div>
              </div>
       </div>

</div>



     


<br><br>


{% endblock %}