{% block content %}
  {% if user.is_authenticated %}
    {% if user.is_admin %}
      <div class="bg-light border rounded-3">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
            <ul class="left-sidebar nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link active" aria-current="page">
                  <i class="bi bi-house-door"></i>
                Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'users' %}" class="nav-link link-dark">
                  <i class="bi bi-people"></i>
                  Users
                </a>
              </li>
            </ul>
          </div>
    {% else %}
      <div class="bg-light border rounded-3">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
            <ul class="left-sidebar nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link active" aria-current="page">
                  <i class="bi bi-house-door"></i>
                User Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'cp_desk_view' %}" class="nav-link link-dark">
                  <i class="bi bi-people"></i>
                  CP_Desk
                </a>
              </li>
            </ul>
          </div>
    {% endif %}
  {% else %}
    <h2>Nothing</h2>
  {% endif %}
{% endblock %}